*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    font-family: 'Lato', sans-serif;
}

.banner{
    background-image: url("../img/header.png");
    width: 1400px;
    height: 604px;
    background-size: no-repeat;
    background-repeat: cover;
}
.burger{
    position: relative;
    left: 5%;
    right: 93.25%;
    top: 34.78%;
    bottom: 34.78%;    

}

.fale-conosco{
    position: relative;
    width: 28px;
    height: 28px;
    left: 1200px;
    top: -4px;

}

.titulo{
position: relative;
width: 152px;
height: 28px;
left: 631px;
top: 32px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 28px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* White */

color: #FFFFFF
}
.titulo-txt{
position: relative;    
width: 704px;
height: 264px;
left: 80px;
top: 23px;

/* Coffee / Head / Bold 80 */

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 88px;
/* or 110% */


/* White */

color: #FFFFFF;
}

.subtitulo-txt{
position: relative;    
width: 459px;
height: 40px;
left: 80px;
top: -17px;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */


/* White */

color: #FFFFFF;

}
.detalhes {
position: relative;
width: 112px;
height: 4px;
left: 80px;
top: 48px;
}


.menu-setas{
display: inline-block; 

}

.volta{
position: relative;    
width: 56px;
height: 56px;
left: 156px;
top: -36px;

/* White */

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(-180deg);

}

.avanca{
position: absolute;
width: 56px;
height: 56px;
left: 95px;
top: 556px;

/* White */

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(-180deg);
}

.cafe-magico{
    display: inline-block; 
    padding: 28px;
    
}

.magico-img{
width: 604px;
height: 460px;
}

.texto-magico{
position: relative;
width: 581px;
top: -215px;

font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
color: #0B1D03;
}

.sub-magico{
position: relative;
width: 581px;
top: -250px;
    
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
color: #0B1D03;     
}

.cafe-limao{
    display: inline-block; 
}

.limao-txt{
position: relative;
left: 70px;
top: -260px;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;

color: #0B1D03;
}

.limao-sub {
position: relative;
left: 70px;
top: -295px;
font-weight: bold;
font-size: 32px;
line-height: 40px;

color: #0B1D03 
}

.limao-img{
width: 604px;
height: 460px;
position: relative;
left: 170px;
}

.variedade-txt{
position: relative;
width: 581px;
height: 60px;
left: 80px;

font-weight: bold;
font-size: 56px;
line-height: 60px;
color: #A0996C;
}

.texto-ruanda1 {
    display: inline-block; 
    position: relative;
    left: 5%;
    right: 32.03%;
    top: 65%;
    bottom: 27.86%;
}

.texto-ruanda2{
    display: inline-block; 
    position: relative;
    left: 7%;
    right: 32.03%;
    top: 85%;
    bottom: 27.86%;
}


.ruanda1-img{
position: relative;
left: 0%;
right: 0%;
top: 0%;
width: 400px;
height: 450px;

/* Coffee / Grey 2 */

background: #F7F1E6;
border-radius: 8px;

}

.ruanda2-img{
position: relative;
left: 2%;
right: 0%;
top: 0%;
bottom: 0%;
width: 400px;
height: 450px;

/* Coffee / Grey 2 */

background: #F7F1E6;
border-radius: 8px;
}

.ruanda3-img{
position: relative;
left: 5%;
right: 0%;
top: 0%;
bottom: 0%;
width: 400px;
height: 450px;

/* Coffee / Grey 2 */

background: #F7F1E6;
border-radius: 8px;

}

.ruanda4-img {
position: relative;
left: -6%;
right: 0%;
top: 5px;
bottom: -100%;
width: 400px;
height: 450px;

/* Coffee / Grey 2 */
background: #F7F1E6;
border-radius: 8px;    

}

.ruanda5-img{
position: relative;
left: -14px;
right: 0%;
top: 6px;
width: 400px;
height: 450px;

background: #F7F1E6;
border-radius: 8px; 
}

.ruanda6-img{
position: relative;
left: -2px;
right: 0%;
top: 3px;
width: 400px;
height: 450px; 
    
background: #F7F1E6;
border-radius: 8px; 
    }
   

.menu-det {
display: inline-block; 
padding: 28px;
}

.entrega-img{
position: relative;
left: 15%;
right: 37.4%;    
bottom: -30px;
}

.entrega-txt a{
position: relative;
left: 85%;
right: 0%;
top: 53.33%;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;
letter-spacing: 0.04em;
text-decoration: none;

/* Coffee / Black */

color: #0B1D03;
}

.pagamento-img{
position: relative;
left: 25%;
right: 37.4%;    
bottom: -30px;   
}

.pagamento-txt a{
position: relative;
left: 180%;
right: 0%;
top: -50px;

/* Coffee / Body / Medium 20 */

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;
letter-spacing: 0.04em;

/* Coffee / Black */
text-decoration: none;
color: #0B1D03;

}

.politica-img{
position: relative;
left: 35%;
right: 37.4%;  
bottom: -30px;  
}

.politica-txt a{
position: relative;
left: 280%;
right: 0%;
top: -100px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;
letter-spacing: 0.04em;

/* Coffee / Black */
text-decoration: none;
color: #0B1D03;
}

.sistema-img{
position: relative;
left: 45%;
right: 37.4%; 
bottom: -30px;   
}

.sistema-txt a{
position: relative;
left: 370%;
right: 0%;
top: -150px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;
letter-spacing: 0.04em;

/* Coffee / Black */
text-decoration: none;
color: #0B1D03;
}

.presente-img{
position: relative;
left: 60%;
right: 37.4%;
bottom: -30px;
}

.presente-txt a{
position: relative;
left: 500%;
right: 0%;
top: -200px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;
letter-spacing: 0.04em;

/* Coffee / Black */
text-decoration: none;
color: #0B1D03;
}

.catalogo{
background-image: url(../img/catalogo-cafe.png);
background-repeat: no-repeat;
width: 604px;
height: 560px;
position: relative;
left: 40px;
top: -250px;
}

.catalogo-texto {
position: relative;
width: 446px;
height: 60px;
left: 40px;
top: 380px;

font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;

color: #FFFCF6;
}

.sub-catalogo{
position: relative;
width: 446px;
height: 60px;
left: 40px;
top: 350px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

letter-spacing: 0.04em;

color: #FFFCF6;
}


.acessorio {
    background-image: url(../img/acessorio-cafe.png);
    background-repeat: no-repeat;
    width: 604px;
    height: 560px;
    position: relative;
    left: 70px;
    top: -250px;
}

.acessorio-texto {
position: relative;
width: 279px;
height: 60px;
left: 50px;
top: 380px;

font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
/* identical to box height, or 107% */


color: #FFFCF6;
}
.sub-acessorio {
position: relative;
left: 50px;
top: 340px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

letter-spacing: 0.04em;

color: #FFFCF6;
}

.loja-text{
position: relative;
left: 30px;
top: -270px;

font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;

color: #0B1D03;

}

.formulario {
position: relative;
top: -300px;   
left: 30px;
}

.mapa{
position: relative;
top: -290px; 
width: 1250px;
left: 30px;
}

.item{
    display: inline-block; 
}

.footer{
position: relative;
top: -290px; 
width: 1200px;
   
}

.footer-quadro{
    display: inline-block; 
}

.redes-img{
    display: inline-block; 
}

.quadro1{
position: relative;
bottom: -20px;
background: #F7F1E6;
width: 1330px;
}

.quadro2{
background: #F7F1E6;
width: 1330px;
}

.black-footer{
position: relative;
left: 80px;
top: -56px;    

font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 28px;
/* identical to box height, or 100% */
    
display: flex;
align-items: center;
    
/* Coffee / Black */
    
color: #0B1D03;   

}

.institucional{
position: relative;
width: 336px;
height: 28px;
left: 150px;
top: 20px;

/* Sneak / Body / Medium 20 */

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Sneak / Black */

color: #1F1F1F;
}

.quem-somos a{
position: relative;
width: 336px;
height: 28px;
left: 150px;
top: 20px;

/* Sneak / Body / Regular 20 */
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Sneak / Black */
text-decoration: none;
color: #1F1F1F;
}

.certificados a{ 
position: relative;
width: 336px;
height: 28px;
left: 150px;
top: 15px;

/* Sneak / Body / Regular 20 */

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Sneak / Black */
text-decoration: none;
color: #1F1F1F;

}

.nossa-prod a {
position: relative;
width: 336px;
height: 28px;
left: 140px;
top: 12px;
    
/* Sneak / Body / Regular 20 */
   
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
    /* identical to box height, or 140% */
    
display: flex;
align-items: center;
    
    /* Sneak / Black */
text-decoration: none;  
color: #1F1F1F;    

}

.parceiros a {
position: relative;
width: 336px;
height: 28px;
left: 100px;
top: 10px;
    
/* Sneak / Body / Regular 20 */
    
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
    
display: flex;
align-items: center;
    
text-decoration: none;  
color: #1F1F1F;      

}

.produto-txt {
position: relative;
left: 120px;
top: 15px;

/* Sneak / Body / Medium 20 */
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Sneak / Black */

color: #1F1F1F;

}

.cafe-footer a{
position: relative;
left: 145px;
top: 15px;    
    
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
    
display: flex;
align-items: center;

text-decoration: none;  
color: #1F1F1F;     
}

.te-cafe a{
position: relative;
left: 155px;
top: 15px;

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
        
display: flex;
align-items: center;
    
text-decoration: none;  
color: #1F1F1F;      
}

.acess-footer a{
position: relative;
left: 130px;
top: 13px; 

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
        
display: flex;
align-items: center;

text-decoration: none;  
color: #1F1F1F;    
}

.ofertas-footer a{
position: relative;
left: 140px;
top: 13px;

font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
            
display: flex;
align-items: center;
    
text-decoration: none;  
color: #1F1F1F; 
}

.redes-text {
position: relative;
width: 336px;
height: 28px;
left: 240px;
top: -35px;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

/* Sneak / Black */

color: #1F1F1F;
}

.instagram{
position: relative;
left: 75%;
right: 37.15%;
top: -15px;
bottom: 37.15%;
width: 40px;
}

.twitter{
position: relative;
width: 40px;
height: 40px;
left: 250px;
top: -15px;
}

.facebook{
position: relative;
width: 40px;
height: 40px;
left: 250px;
top: -15px;
}


.autor{
position: relative;
left: 560px;
top: -4px;

/* Sneak / Black */

color: #1F1F1F;

}
